.footer {
  background-color: #FCEED5;
  color: #003366;
  padding: 20px;
  text-align: center;
}

.subscribe-box {
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 40px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-box {
  width: 60%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: rgb(233, 233, 233);
}

.email-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  flex: 1;
  margin-right: 10px;
  color: black;
}

.subscribe-button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: -10px;
  cursor: pointer;
  margin-top: 20px; /* Add margin to push the button down */
}

.subscribe-button:hover {
  background-color: #002244;
}

nav-social-container {
  margin-top: 20px;
  color: black;
  display: flex; /* Ensure flexbox is used */
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Align them vertically */
}

.nav-social-container a {
  color: black;
  margin: 0 10px; /* Adds space between the icons */
}

.nav-social-container .fab {
  color: black;
}

.nav-social-container a:hover {
  color: #003458;
}

.footer-bottom {
  padding-top: 10px;
  color: lightgray;
  font-size: 14px;
}

.footer-bottom a {
  color: rgb(124, 120, 120);
  font-size: 14px;
}

.footer-bottom a:hover {
  color: #003458;
}

.footer-text {
  color: rgb(124, 120, 120);
}

.logo {
  height: 40px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .subscribe-box {
    flex-direction: column;
    text-align: center;
  }

  .nav-social-container {
    justify-content: space-evenly;
  }

  .email-box {
    width: 100%;
    margin-top: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .space-x-4 {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .subscribe-box h2 {
    font-size: 1.25rem;
  }

  .email-input {
    padding: 8px;
  }

  .subscribe-button {
    padding: 8px 16px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 30px;
  }

  .footer-text, .space-x-4 a {
    font-size: 12px;
  }
}
